#title {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-left: auto;
    text-align: center;
}

#image {
    height: 300px;
    width: 300px;
}

#buttonRight,
#buttonLeft {
    color: #B699DD;
    font-size: 18px;
    background-color: #FCFAF2;
    border-radius: 20px;
    padding: 5px;
}